{% extends "accounting/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
    <legend class="border-bottom mb-4">Depot aktualisieren</legend>
      <h5>{{ asset.name }} ({{ asset.bank_depot.name }})</h5>
      <br>
      <div class="row">
        <div class="col md-4">
          <div class="form-group mb-0">
            {{ form.current_balance|as_crispy_field }}
          </div>
        </div>
        <div class="col md-4">
          <div class="form-group mb-0">
            {{ form.last_update|as_crispy_field }}
          </div>
        </div>
        <div class="col md-4"></div>
      </div>

    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-secondary" type="submit">Speichern</button>
    </div>
  </form>
</div>
{% endblock content %}
