{% extends "accounting/base.html" %}
{% block content %}
<h1>Übersicht Konten</h1>
<br>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Bankkonto</th>
            <th>Kontostand</th>
            <th>Aktionen</th>
        </tr>
        {% for acc in accounts %}
        <tr>
            <td><a href="{% url 'transactions' acc.pk %}">{{ acc }}</a></td>
            <td class="{% if acc.get_balance < 0.0 %} text-danger {% else %} text-success{% endif %}">
                  {{ acc.get_balance }}€
            </td>
            <td>
                <a href="{% url 'transactions' acc.pk %}" class="btn btn-light btn active" role="button"><i class="fas fa-search-dollar fa-lg"></i> Transaktionen</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<br>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Depot</th>
            <th>Kontostand</th>
            <th>Aktionen</th>
        </tr>
        {% for dep in depots %}
        <tr>
            <td><a href="{% url 'depot-detail' dep.pk %}">{{ dep }}</a></td>
            <td class="{% if dep.current_balance < 0.0 %} text-danger {% else %} text-success{% endif %}">
                  {{ dep.get_balance }}€
            </td>
            <td>
                <a href="{% url 'depot-detail' dep.pk %}" class="btn btn-light btn active" role="button"><i class="fas fa-search-dollar fa-lg"></i> Details</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}
