{% extends "accounting/base.html" %}
{% block content %}
<div class="row my-4 mx-2">
    <h1 class="text-truncate d-inline">Alle Verträge</h1>
    <div class="ml-auto">
        <a aria-pressed="true" class="btn btn-light btn active" href="{% url 'create-contract' %}" role="button"><i
                class="fas fa-plus"></i></a>
    </div>
</div>
<div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Inhaber</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="3">
                    <h3>Aktive Verträge</h3>
                </td>
            </tr>
            {% for con in active_contracts %}
            <tr>
                <td style="width: 25%">
                    <a href="{% url 'contract-detail' con.pk %}">{{ con.name }}</a>
                </td>
                <td style="width: 25%">{{ con.description|truncatechars:50 }}</td>
                <td style="width: 25%">{{ con.owner }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <h3>Beendete Verträge</h3>
                </td>
            </tr>
            {% for con in inactive_contracts %}
            <tr style="color: gray">
                <td style="width: 25%">
                    <a href="{% url 'contract-detail' con.pk %}" style="color: gray">{{ con.name }}</a>
                </td>
                <td style="width: 25%">{{ con.description|truncatechars:50 }}</td>
                <td style="width: 25%">{{ con.owner }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
