{% extends "accounting/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      {% if form.instance.pk %}
        <legend class="border-bottom mb-4">Vertrag bearbeiten</legend>
      {% else %}
        <legend class="border-bottom mb-4">Neuer Vertrag</legend>
      {% endif %}
      {{ form.media }}
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-secondary" type="submit">Speichern</button>
    </div>
  </form>
</div>
{% endblock content %}