{% extends "accounting/base.html" %}
{% load humanize %}
{% block content %}
<div class="row my-4">
    {% if contract.is_active %}
        <h1 class="text-truncate d-inline">Vertrag: {{ contract.name }}</h1>
    {% else %}
        <h1 class="text-truncate d-inline text-secondary">Vertrag: {{ contract.name }} (inaktiv)</h1>
    {% endif %}
    <div class="ml-auto">
        <a class="btn btn-light btn" href="{% url 'update-contract' pk=contract.pk %}" role="button"><i class="fas fa-edit"></i></a>
    </div>
</div>

<p><i class="fas fa-user"></i> {{contract.owner}}</p>
<p><i class="fas fa-calendar"></i> {{ contract.start_date|date:"d.m.Y" }} – {{ contract.end_date|date:"d.m.Y" }}</p>
{% if contract.description %}
    <p><i class="fas fa-info-circle"></i> {{ contract.description }}</p>
{% endif %}

<hr>
<p>Summe Einnahmen/Ausgaben:
    <span class="{% if contract.get_balance < 0 %} text-danger {% else %} text-success {% endif %}">{{ contract.get_balance|intcomma }}€</span>
</p>
{% if first_transaction and last_transaction %}
    <p>Erste Transaktion: {{ first_transaction.date_booking|date:"d.m.Y" }}</p>
    <p>Letzte Transaktion: {{ last_transaction.date_booking|date:"d.m.Y" }}</p>
{% else %}
    <p>Dieser Vertrag hat noch keine Transaktionen.</p>
{% endif %}
<br>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Buchungsdatum</th>
            <th>Betrag</th>
            <th>Betreff</th>
            <th>Konto</th>
            <th>Aktionen</th>
        </tr>
        </thead>
        <tbody>
        {% for t in transactions %}
        <tr>
            <td>{{ t.date_booking|date:"d.m.Y" }}</td>
            <td class="{% if t.amount < 0.0 %} text-danger {% else %} text-success{% endif %}">
                {{ t.amount|intcomma }}€
            </td>
            <td>{{ t.subject }}</td>
            <td><a href="{% url 'transactions' pk=t.bank_account.pk %}">{{ t.bank_account.name }}</a></td>
            <td>
                <a href="{% url 'transaction-detail' acc_pk=t.bank_account.pk t_pk=t.pk %}"><i class="fas fa-info-circle fa-sm"></i> Details</a>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<hr>
<div class="row my-4">
    <h3>Vertragsunterlagen ({{ contract.get_files|length }})</h3>
    <div class="ml-auto">
        <a href="{% url 'add-files-to-contract' pk=contract.pk %}" class="btn btn-light btn"><i class="fas fa-plus"></i></a>
    </div>
</div>
{% if contract.get_files %}
    {% for file in contract.get_files %}
        <h5>{{ file.filename }}</h5>
        <embed src="{{file.get_url}}" width="50%" height="600px">
    {% endfor %}
{% else %}
    <p>Keine Dateien für diesen Vertrag hinterlegt.</p>
{% endif %}

{% endblock content %}
