{% extends "accounting/base.html" %}
{% load humanize %}
{% block content %}
<div class="row my-4 mx-2">
    <h1 class="text-truncate d-inline">Vertrag: {{ contract.name }}</h1>
    <div class="ml-auto">
        <a aria-pressed="true" class="btn btn-light btn active" href="{% url 'update-contract' pk=contract.pk %}" role="button"><i class="fas fa-edit"></i></a>
    </div>
</div>
<h5>Inhaber:</h5><p>{{ contract.owner }}</p>
<h5>Beschreibung:</h5><p>{{ contract.description }}</p>
<p>Summe Einnahmen/Ausgaben:
    <span class="{% if contract.get_balance < 0 %} text-danger {% else %} text-success {% endif %}">{{ contract.get_balance|intcomma }}€</span>
</p>
<br>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Buchungsdatum</th>
            <th>Betrag</th>
            <th>Betreff</th>
            <th>Konto</th>
            <th>Aktionen</th>
        </tr>
        </thead>
        <tbody>
        {% for t in contract.get_transactions %}
        <tr>
            <td>{{ t.date_booking|date:"d.m.Y" }}</td>
            <td class="{% if t.amount < 0.0 %} text-danger {% else %} text-success{% endif %}">
                {{ t.amount|intcomma }}€
            </td>
            <td>{{ t.subject }}</td>
            <td><a href="{% url 'transactions' pk=t.bank_account.pk %}">{{ t.bank_account.name }}</a></td>
            <td>
                <a href="{% url 'transaction-detail' acc_pk=t.bank_account.pk t_pk=t.pk %}" class="btn text-dark"><i class="fas fa-info-circle fa-sm"></i></a>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

