{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="content-section">
  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}

{% if formset.non_form_errors %}
    <div class="alert alert-danger" role="alert">
      {{ formset.non_form_errors }}
    </div>
{% endif %}
<div>
  <h5 class="mt-5">Dateien</h5>
  <table class="table table-striped">
    {{ formset.management_form|crispy }}

    {% for form in formset.forms %}
    <tr class="formset-{{ formset.prefix }}">
      {% for field in form.visible_fields %}
      <td>
        {# Include the hidden fields in the form #}
        {% if forloop.first %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% endif %}
        {{ field.errors.as_ul }}
        {{ field|as_crispy_field }}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
<script src="{% static 'accounting/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
        $('.formset-{{ formset.prefix }}').formset({
          addText: 'Datei <i class="col-2 fas fa-plus"></i>',
          deleteText: '<i class="col-2 fas fa-trash"></i>',
          prefix: '{{ formset.prefix }}',
          addCssClass: 'btn btn-secondary',
          deleteCssClass: 'btn text-danger'
        });
      </script>
<div class="form-group">
      <button class="btn btn-outline-secondary" type="submit">Speichern</button>
</div>
</form>
</div>

{% endblock content %}
