{% load humanize %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Buchungsdatum</th>
            <th>Wertstellungsdatum</th>
            <th>Zahlung an/von</th>
            <th>Betrag</th>
            <th>Betreff</th>
            <th>Kategorien</th>
            <th>Aktionen</th>
        </tr>
        </thead>
        <tbody>
        {% for t in transactions %}
        <tr>
            <td>{{ t.date_issue|date:"d.m.Y"  }}</td>
            <td>{{ t.date_booking|date:"d.m.Y" }}</td>
            <td>{{ t.recipient }}</td>
            <td class="{% if t.amount <= 0.0 %} text-danger {% else %} text-success{% endif %}">
                {{ t.amount|intcomma }}€
            </td>
            <td>{{ t.subject }}</td>
            <td>
                {% if t.category %}
                    <a href="#" class="badge badge-light">{{ t.category }}</a>
                {% endif %}
            <td>
                <a href="{% url 'transaction-detail' acc_pk=t.bank_account.pk t_pk=t.pk %}" class="btn text-dark"><i class="fas fa-info-circle fa-sm"></i></a>
                <a href="{% url 'transaction-update' acc_pk=t.bank_account.pk t_pk=t.pk %}" class="btn text-dark"><i class="fas fa-edit fa-sm"></i></a>
                <a href="{% url 'transaction-delete' acc_pk=t.bank_account.pk t_pk=t.pk %}" class="btn text-danger"><i class="fas fa-trash fa-sm"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>